
body {
	font-family: Arial;
	border-top: 10px solid #8470ff;
	margin: 0;
	border-bottom: 10px solid #8470ff;
}

h1, h2, h3 {
	margin: 0;
}

h2 {
	padding: 10px;
}

h3 {
 	padding-top: 10px;
}


h1{
	background: #8470ff;
	color: #fff;
	padding: 5px;
}

ul
{
	background: #CAE1FF;
	list-style-type:none;
	margin:0;
	padding:4px;
} 

li
{
	display:inline;
}

.center {
 	background: #CAE1FF;
 	width: 600px;
	margin: 0 auto;
	padding: 0 auto;
}

#middle {
	padding-left: 50px;
	padding-bottom: 50px;
}

table, tr, td {
	border: 1px solid #8470ff;
	border-collapse: collapse;
}
