body {
	font-family: Arial;
	margin-left: 200px;
}
header {
 	margin:0;
}
.center {
		margin:0;
		padding:0;
		width:800 px;
}
aside {
		width: 100px;
		float: right;
		
}
#middle {
	background: #adb5bd;
	width: 700px;
	float: right;
}	

footer {
padding-left: 300px;
padding-top: 20px;
clear: both;
}
	
h1, h2, h3 {
	margin: 0;
	padding-left: 10px;
}
h1 {
 	padding-left:300px;
 	background: #3b454f;
	color: #fff;
 	}
h2 {
	padding: 10px;
}

h3 {
 	padding-top: 10px;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:4px;
} 

table, tr, td {
	border: 1px solid #adb5bd;
	border-collapse: collapse;
}
